<h1>The Raven - Edgar Allan Poe Ad-Lib</h1>

<p>
Once upon a midnight {{req.query.adjective_1}}, while I pondered {{req.query.adjective_2}} and {{req.query.adjective_3}},
Over many a quaint and curious {{req.query.noun_1}} of forgotten {{req.query.noun_2}},
While I {{req.query.verb_ending_in_ed_1}}, nearly napping, suddenly there came a {{req.query.noun_3}},
As of {{req.query.noun_4}} gently rapping, rapping at my {{req.query.place}} door.
``Tis some {{req.query.noun_5}},` I muttered, `tapping at my Maldives door -
Only this, and nothing more.`

Ah, distinctly I remember it was in the {{req.query.adjective_4}} December,
And each separate {{req.query.verb_ending_in_ing}} ember wrought its {{req.query.noun_6}} upon the floor.
Eagerly I {{req.query.verb_ending_in_ed_2}} the morrow; - {{req.query.adverb}} I had sought to borrow
From my {{req.query.plural_noun}} surcease of sorrow - sorrow for the {{req.query.adjective_5}} Lenore -
For the {{req.query.adjective_6}} and {{req.query.adjective_7}} maiden whom the angels named {{req.query.female_name}} -
Nameless here for evermore.
</p>