{{#each category}}
<center><img src="{{image}}" alt="Category Static" style="max-width: 840px;"></center>
{{/each}}

<div class="section-divider"></div>
<div class="row align-items-end">
{{#each products}}
<div class="col col-lg-3 card">
    {{#each images}}
    {{#if @first}} 
    <a href="{{this.link}}"><img src="{{this.src}}" alt="Product Image" class="img-fluid card-img-top"></a>
    {{/if}}
    {{/each}}
    <div class="card-body">
        <a href="/product/{{this.id}}"><strong class="card-title">{{this.name}}</strong></a> <br>
        <p>$ {{this.price}}</p> <br>
    </div>
</div>
{{/each}}
</div>

<footer class="color-darkblue-bg color-white">
  For CIM453 by Vatsal Lahoti
</footer>

